name: Build & Deploy to EKS automate

on:
  push:
    branches: [ "main" ]

env:
  AWS_REGION: eu-north-1
  ECR_REGISTRY: ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com
  IMAGES: "main aws azure gcp"

jobs:
  build:
    name: Build & Push All Images
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Login to ECR
      run: |
        aws ecr get-login-password --region $AWS_REGION \
        | docker login --username AWS --password-stdin $ECR_REGISTRY

    - name: Create ECR repositories if missing
      run: |
        for img in $IMAGES; do
          aws ecr describe-repositories --repository-names $img --region $AWS_REGION || \
          aws ecr create-repository --repository-name $img --region $AWS_REGION
        done

    - name: Build & Push Docker Images
      run: |
        for img in $IMAGES; do
          echo "Building $img"
          docker build -t $ECR_REGISTRY/$img:latest $img/
          docker push $ECR_REGISTRY/$img:latest
        done

  deploy:
    name: Deploy to EKS
    runs-on: ubuntu-latest
    needs: build

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Update kubeconfig
      run: |
        aws eks update-kubeconfig --region $AWS_REGION --name amit

    - name: Update image names in Kubernetes YAML
      run: |
        for img in $IMAGES; do
          sed -i "s|IMAGE_$img|$ECR_REGISTRY/$img:latest|g" k8s-files/*.yml
        done

    - name: Deploy all Kubernetes files
      run: |
        kubectl apply -f k8s-files/
